* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact {
  position: relative;
  min-height: 70vh;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #222;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  color: transparent;
  -webkit-text-stroke: 3px rgb(197, 197, 195);
  font-size: 3.5em;
}
.contact .content p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  font-weight: 300;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box {
  position: relative;
  padding: 15px 0;
  display: flex;
  cursor: pointer;
}
.container .contactInfo .box .icon {
  position: relative;
  min-width: 60px;
  height: 60px;
  background: repeating-conic-gradient(
    from 27.5deg,
    #0d324d 0%,
    #7f5a83 10%,
    transparent 10%,
    transparent 50%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .contactInfo .box .icon i {
  color: rgba(255, 255, 255, 0.7) !important;
}
.container .contactInfo .box .icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from 117.5deg,
    #0d324d 0%,
    #7f5a83 10%,
    transparent 10%,
    transparent 50%
  );
}
.container .contactInfo .box .icon::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #222;
}
.container .contactInfo .box .icon b {
  position: absolute;
  inset: 8px;
  background: linear-gradient(45deg, #0d324d, #7f5a83);
  z-index: 2;
}
.container .contactInfo .box .icon i {
  position: relative;
  z-index: 1000;
  color: #333;
  font-size: 1.25em;
}
.container .contactInfo .box .text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
.container .contactInfo .box .text h3 {
  font-weight: 300;
  color: white;
}
.container .contactInfo .txt {
  color: rgb(255, 255, 255);
  margin-top: 40px;
  font-weight: 300;
  padding-left: 10px;
  line-height: 0.6em;
}
.container .contactInfo .sci {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 20px 0;
}
.container .contactInfo .sci .li {
  list-style: none;
}
.container .contactInfo .sci li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
  transition: 0.25s;
}
.container .contactInfo .sci li a:hover {
  color: white;
  filter: drop-shadow(0 0 20px white);
}
.container .contactForm {
  position: relative;
  width: 40%;
  background: repeating-conic-gradient(
    from var(--a),
    #0d324d 0%,
    #7f5a83 10%,
    transparent 10%,
    transparent 50%
  );
  animation: animate 6s linear infinite;
  padding: 40px;
}
.container .contactForm::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--a),
    #0d324d 0%,
    #7f5a83 10%,
    transparent 10%,
    transparent 50%
  );
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}
.container .contactForm::after {
  content: "";
  position: absolute;
  inset: 4px;
  border: 20px solid #222;
  background: #333;
}
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}
.container .contactForm form {
  position: relative;
  z-index: 10;
}
.container .contactForm form h2 {
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}
.container .contactForm form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.container .contactForm form .inputBox input,
.container .contactForm form .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1.1em;
  margin: 8px 0;
  border: none;
  background: transparent;
  border-bottom: 2px solid #7f5a83;
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  resize: none;
}
.container .contactForm form .inputBox span {
  position: absolute;
  left: 0;
  pointer-events: none;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 1em;
  color: white;
  transition: 0.5s;
}
.container .contactForm form .inputBox input:focus ~ span,
.container .contactForm form .inputBox textarea:focus ~ span,
.container .contactForm form .inputBox input:valid ~ span,
.container .contactForm form .inputBox textarea:valid ~ span {
  color: white;
  font-size: 0.8em;
  transform: translateY(-24px);
}
.container .contactForm form .inputBox input[type="submit"] {
  width: 100%;
  background: linear-gradient(45deg, #0d324d, #7f5a83);
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
}
.container .contactForm form .inputBox input[type="submit"]:hover {
  box-shadow: 0 0 20px #0d324d, 0 0 15px #7f5a83;
}
@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo,
  .container .contactForm {
    width: 100%;
  }
  .container .contactForm {
    padding: 40px;
  }
  .container .contactForm form {
    padding: 10px;
  }
}
@media (max-width: 1000px) and (min-width: 400px) {
  .contact .content h2 {
    -webkit-text-stroke: 2px rgb(197, 197, 195);
    font-size: 2.4em;
  }
}
@media (max-width: 400px) {
  .contact .content h2 {
    -webkit-text-stroke: 2px rgb(197, 197, 195);
    font-size: 1.7em;
  }
}
